<div class="main flex fullWidth">
    <div class="left fullHeight">
        <img class="fullHeight fullWidth" src="../../../assets/pictures/catanddog.jpg" alt="">
    </div>
    <div class="right fullHeight main-blue white-color flex center-center">
        <div class="width80 flex column gap2em center-center">
            <h1>Compassionate vet care you can trust</h1>
            <label for="">We provide comprehensive medical services and integrative therapies for cats and dogs in the Greater Philadelphia area.</label>
            <button mat-fab extended color="primary"><b>Our Services</b></button>
        </div>
    </div>
</div>