.main{
    height: 100vh;
    position: relative;
}

.left, .right{
    width: 50%;
}

h1{
    font-size: 50px;
}

label{
    font-size: 20px;
}

button{
    width: 40%;
}

.reviewCard{
    background-color: white;
    width: 220px;
    height: 90px;

}

.float{
    position: absolute;
    bottom: -50px;
    width: 100%;
}

.reviewImg{
    width: 20%;
}

.reviewText{
    width: 80%;
}

.fz15px{
    font-size: 15px;
}

.fz12px{
    font-size: 12px;
}

  .star-rating {
    font-size: 24px;
    color: #fbc02d; /* Gold color */
  }
  
  .full {
    color: #fbc02d;
  }
  
  .half {
    color: #fbc02d;
  }
  
  .empty {
    color: #ccc; /* Gray for empty stars */
  }
  