.main{
    height: 100vh;
    position: relative;
}

.left, .right{
    width: 50%;
}

h1{
    font-size: 50px;
}

label{
    font-size: 20px;
}

button{
    width: 40%;
}

.reviewCard{
    background-color: white;
    width: 220px;
    height: 90px;

}

.float{
    position: absolute;
    bottom: -50px;
    width: 100%;
}

.reviewImg{
    width: 20%;
}

.reviewText{
    width: 80%;
}

.fz15px{
    font-size: 15px;
}

.fz12px{
    font-size: 12px;
}

  .star-rating {
    font-size: 24px;
    color: #fbc02d; /* Gold color */
  }
  
  .full {
    color: #fbc02d;
  }
  
  .half {
    color: #fbc02d;
  }
  
  .empty {
    color: #ccc; /* Gray for empty stars */
  }
  
.img1{
    width: 640px;
    height: 560px;
}

.googleReviews{
    background-color: #f7f7f9;
    height: 100vh;
    width: 30%;
    position: absolute;
    right: 10px;
    top: 170px;
    z-index: 1;
    overflow-y: scroll;
}

.name{
    height: 15%;
}

.nameImg{
    width: 20%;
}

.nameText{
    width: 60%;
}

.fz4{
    font-size: 14px;
}