<div class="main fullWidth flex center-center column">
    <h1 class="main-blue-color ">Meet Our Team</h1>
    <h4 for="">We strive to make your visit as pleasant as possible. Learn more about the amazing team at our
        clinic below!</h4>
    <div class="fullWidth flex center-center gap05em">
        <hr class="main-blue "> <mat-icon class="main-blue-color ">groups</mat-icon><hr class="main-blue ">
    </div>
    <div class="pictures halfHeight width80 flex gap2em  center-center">
        <div class="detail fullHeight flex center-center column">
            <img class="height80 fullWidth" src="../../../assets/pictures/vet4.jpg" alt="">
            <h6>Josie Niemet</h6>
            <label for="">Client Care Coordinator</label>
        </div>
        <div class="detail fullHeight flex center-center column">
            <img class="height80 fullWidth" src="../../../assets/pictures/vet2.jpg" alt="">
            <h6>Brady McMorris</h6>
            <label for="">Veterinary Technician</label>
        </div>
        <div class="detail fullHeight flex center-center column">
            <img class="height80 fullWidth" src="../../../assets/pictures/vet5.jpg" alt="">
            <h6>Dr. Chelsea Bohner</h6>
            <label for="">Associate Veterinarian</label>
        </div>
    </div>
</div>