<div class="top flex aic">
    <div class="icon flex center-center hover" (click)="goBack()"><mat-icon class="back-icon">arrow_back</mat-icon></div>
    
    <span class="flex1"></span>
    <h1>Bergbron Animal Clinic</h1>
</div>
<div class="main flex center-center">
    <div class="left fullHeight flex center-center">
        <mat-card class="demo-inline-calendar-card fullHeight">
            <mat-calendar [(selected)]="selected" (selectedChange)="onDateChange($event)"></mat-calendar>
        </mat-card>
    </div>
    <div class="right fullHeight">
        <h3 class="none">{{selected}}</h3>
        <div class="times flex wrap gap10px">
            <div class="chipNew flex center-center main-blue-color white-bg hover" *ngFor="let time of timeslots">
                {{time}}</div>
        </div>
    </div>
</div>