.main{
    height: 85%;
    background-color: #f1f4f8;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
}

.demo-inline-calendar-card {
    width: 80%;
  }

.top{
    height: 15%;
    width: 60%;
}

.icon{
    width: 15%;
    height: 100%;
}

mat-chip-option{
    width: 100px;
    height: 40px;
}

mat-chip-listbox{
    gap: 6em !important;
    display: flex;
}

.times{
    height: 80%;
}

.chipNew{
    height: 50px;
    border-radius: 25px;
    width: calc(25% - 10px);
    border: 1px solid #12417e;
}

.back-icon {
  font-size: 36px;
// size: 80%;
width: 60px;
  height: 36px;
}

  .gap10px{
      gap: 10px;
  }

  .none{
    display: block;
  }