/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @import url('https://fonts.googleapis.com/css2?family=Aladin&family=Creepster&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.main-blue {
    background-color: #12417e !important;
}

.main-blue-color {
    color: #12417e !important;
}

.white-color {
  color: white;
}

.white-bg {
  background-color: white !important;
}

  // Sizes
  .fullHeight{
      height: 100%;
  }
  
  .fullWidth{
      width: 100%;
  }
  
  .halfHeight{
      height: 50%;
  }
  
  .halfWidth{
      height: 50%;
  }

  .height80{
    height: 80%;
}

.width80{
  width: 80%;
}
  // Flex
  .flex{
      display: flex;
  }
  
  .flex1{
      flex: 1;
  }
  
  .wrap{
      flex-wrap: wrap;
  }

  .no-wrap{
    flex-wrap: nowrap;
}
  
  .column{
      flex-direction: column !important;
  }

  .row{
    flex-direction: row !important;
}
  
  .aic{
      align-items: center;
  }

  .aie{
    align-items: end;
}

  .jcc{
    justify-content: center;
  }

  .textCenter{
      text-align: center;
  }
  .center-center{
      justify-content: center;
      align-items: center;
  }
  
  .spacebetween{
      justify-content: space-between;
  }

  .spacearound{
    justify-content: space-around;
  }
  
  // Gaps
  .gap05em{
      gap: 0.5em;
  }
  
  .gap1em{
      gap: 1em;
  }
  
  .gap2em{
      gap: 2em;
  }
  
  .gap3em{
      gap: 3em;
  }
  
  .gap4em{
      gap: 4em;
  }
  
  // Margin
  .mt0{
      margin-top: 0;
  }

  .mt2{
    margin-top: 2em;
}

  .no-margin{
    margin: 0;
  }

  .mt1{
    margin-top: 1em;
}
  
  // padding
  .p0{
      padding: 0;
  }

  .cursor{
    cursor: pointer;
  }

  .fz8px{
    font-size: 8px;
  }